<% title "Admin/Parse Config" %>

<p>
  <strong>Name:</strong>
  <%= @parse_config.name %>
</p>

<p>
  <%= link_to "Edit", edit_admin_parse_config_path(@parse_config) %> |
  <%= link_to "Destroy", [:admin, @parse_config], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_parse_configs_path %>
</p>
