<div id="daum_map"></div>
 
<script>

  var container = document.getElementById('daum_map');

  var options = {
    center: new daum.maps.LatLng(<%= @flea_market.latitude %>,<%= @flea_market.longitude %>),
    level: 4
  };

  var daum_map = new daum.maps.Map(container, options);


  var markerPosition  = new daum.maps.LatLng(<%= @flea_market.latitude %>,<%= @flea_market.longitude %>);

  var marker = new daum.maps.Marker({
    position: markerPosition
  });

  $(document).ready(function(){
    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(daum_map);

  });

  $("a[href='#location']").on('shown.bs.tab', function() {

      if ($("#daum_map") !== void 0 && $("#daum_map").length > 0) {
        daum_map.relayout();
        daum_map.setCenter(markerPosition);
      }
    });


</script>


