<div id="google_map"></div>

<script>

  function initMap() {
    google_map = new google.maps.Map(document.getElementById('google_map'), {
      center: {lat: <%= @flea_market.latitude %>, lng: <%= @flea_market.longitude %>},
      zoom: 15
    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=GOOGLE_MAP_KEY%>&callback=initMap"
  async defer></script>



