/* line 1, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
#google_map, #daum_map {
  width: 500px;
  height: 300px;
}

/* line 6, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.container.content-wrap {
  padding-bottom: 45px;
}

/* line 10, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
#fleamarket_list {
  position: relative;
}
/* line 12, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
#fleamarket_list .pagination {
  bottom: -145px;
  display: inline-block;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 50px;
}

/* line 22, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.market_name {
  color: #000000;
  font-size: 1.6em;
  margin-top: 5px;
}

/* line 30, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.market_desc {
  margin: 10px 0;
}
/* line 34, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.market_desc .market_location {
  color: #bbbbbb;
  font-size: 1em;
  display: inline-block;
}
/* line 40, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.market_desc .market_memo {
  color: #bbbbbb;
  font-size: 1em;
  display: inline-block;
}

/* line 47, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
#flea-info {
  text-align: center;
}
/* line 49, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
#flea-info .flea-info-detail {
  text-align: left;
  border: 1px #cccccc solid;
  padding: 10px;
  width: 100%;
  margin: 8px auto;
  color: #ffffff;
  background: #333333;
}
/* line 60, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
#flea-info .flea-info-detail .market_name {
  color: #ffffff;
  font-size: 1.6em;
  margin: 0;
}

/* line 73, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
#location .market_location {
  color: #000000;
  font-size: 1.4em;
  background: #333333;
  margin-bottom: 10px;
  padding: 8px 0 8px 15px;
}

/* line 83, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market {
  background-color: #fff;
  margin-bottom: 1.6rem;
  width: 40%;
  padding: 20px 10px;
  display: inline-block;
}
/* line 92, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market .img {
  text-align: center;
}
/* line 94, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market .img img {
  display: inline-block;
  width: 100%;
}

/* line 104, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.main-img img {
  width: 100%;
}

/* line 110, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.tab-content {
  padding-bottom: 30px;
}

/* line 114, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.tab-pane {
  min-height: 500px;
  padding: 15px 10px;
}

/* line 118, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.make-flea-market {
  padding: 20px  10px;
}
/* line 121, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.make-flea-market .inlines {
  width: 35%;
  display: inline-block;
  margin-right: 5%;
}

/**
 * Helpers
 * codepen.io/mithicher/pen/azQKNN/
 */
/* line 137, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.border-tlr-radius {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/* line 142, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.text-center {
  text-align: center;
}

/* line 144, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.radius {
  border-radius: 2px;
}

/* line 146, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.padding-tb {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

/* line 148, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.shadowDepth0 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

/* line 150, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.shadowDepth1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/**
 * flea_market Styles
 */
/* line 161, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market__padding {
  padding: 1.6rem;
}

/* line 165, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market__image {
  min-height: 100px;
  background-color: #eee;
}
/* line 168, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market__image img {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* line 175, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market__content {
  position: relative;
}

/* flea_market meta */
/* line 180, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market__meta time {
  font-size: 1.5rem;
  color: #bbb;
  margin-left: 0.8rem;
}

/* flea_market article */
/* line 187, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market__article a {
  text-decoration: none;
  color: #444;
  transition: all 0.5s ease;
}

/* line 192, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market__article a:hover {
  color: #2980b9;
}

/* flea_market action */
/* line 197, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market__action {
  overflow: hidden;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}

/* line 206, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market__author img,
.flea_market__author-content {
  display: inline-block;
  vertical-align: middle;
}

/* line 212, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market__author img {
  border-radius: 50%;
  margin-right: 0.6em;
  width: 40px;
  height: 40px;
}

/* line 219, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market__share {
  float: right;
  position: relative;
  margin-top: -42px;
}

/* line 225, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market__social {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 160px;
  transform: translateZ(0);
  transform: translateX(0px);
  transition: transform 0.35s ease;
}

/* line 235, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.flea_market__social--active {
  visibility: visible;
  /*z-index: 3;*/
  transform: translateZ(0);
  transform: translateX(-48px);
  transition: transform 0.35s ease;
}

/* line 243, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.share-toggle {
  z-index: 2;
}

/* line 246, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.share-toggle:before {
  content: "\f1e0";
  font-family: 'FontAwesome';
  color: #3498db;
}

/* line 251, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.share-toggle.share-expanded:before {
  content: "\f00d";
}

/* line 255, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.share-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

/* line 270, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.share-icon:hover,
.share-icon:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 283, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.facebook {
  background-color: #3b5998;
}

/* line 286, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.twitter {
  background-color: #00abe3;
}

/* line 289, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.googleplus {
  background-color: #d3492c;
}

/* line 293, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.facebook,
.twitter,
.googleplus {
  color: #fff;
}

/* line 299, /media/kai/Data/copy_file/projects/rails/fleamarket/app/assets/stylesheets/markets.scss */
.facebook:hover,
.twitter:hover,
.googleplus:hover {
  color: #eee;
}
