#google_map, #daum_map{
  width: 90%;
  height: auto;
  min-height: 400px;
  margin:  0 auto;
}

.container.content-wrap {
  padding-bottom: 45px;
}

#search-bar{
  width:100%;
  display: table;

  $search-font-size: 1.6rem !default;
  $search-active-font-size: $search-font-size * 0.8 !default;
  $search-active-top: -$search-font-size !default;

  
  $search-spacer: $search-font-size / 8 !default;
  $search-input-color: #333 !default;
  $search-border-color: #999 !default;
$search-label-color: lighten($search-border-color, 10%) !default;
$search-active-color: darken($search-border-color, 10%) !default;
$search-focus-color: #337ab7 !default;

$search-transition-speed: 0.28s !default;


  div.col-md-6.col-xs-12{
    background: #E3F4FB;
    height: 40px;
    line-height: 40px;
    padding-top: 3px;

    select,  input{
      font-size: $search-font-size;
      height: ($search-font-size * 1.6);
      padding: $search-spacer $search-spacer ($search-spacer / 2);
      background: none;
      border: none;
      line-height: 1.6;
      box-shadow: none;
    }

.bar {
		position: relative;
		border-bottom: ($search-font-size / 16) solid $search-border-color;
		display: block;
		
		&::before {
			content: '';
			height: ($search-font-size / 8);
			width: 0;
			left: 50%;
			bottom: ($search-font-size / -16);
			position: absolute;
			background: $search-focus-color;
			transition: left $search-transition-speed ease, width $search-transition-speed ease;
			z-index: 2;
		}
	}
	
	select,
	input:focus,
	input:valid,
	input.form-file,
	input.has-value,
	textarea:focus,
	textarea:valid,
	textarea.form-file,
	textarea.has-value {
		color: $search-input-color;

		~ .control-label {
			font-size: $search-active-font-size;
			color: $search-active-color;
			top: $search-active-top;
			left: 0;
		}
	}

	select,
	input,
	textarea {
		&:focus {
			outline: none;

			~ .control-label {
				color: $search-focus-color;
			}

			~ .bar {
				&::before {
					width: 100%;
					left: 0;
				}
			}
		}
	}





  }
  .form-control.find-date,   .form-control.find-date-bar{
    width: 70%;
  }
  .btn.find-btn{
    position: absolute;
    top: 3px;
    right: 15px;
    border-radius: 0px;
  }
  
}
   

#fleamarket_list{
  position:relative;
  .pagination{
    left:0;
    bottom: -145px;
    display:inline-block;
    position:absolute;
    width:100%;
    text-align:center;
    height: 50px;
  }
}

.market_name{
 
  color: #000000;
  font-size: 1.6em;
  margin-top: 5px;

}

.market_desc{

  margin: 10px 0;

  .market_location{
    color: #bbbbbb;
    font-size: 1em;
    display:inline-block;
  }

  .market_memo{
    color: #bbbbbb;
    font-size: 1em;
    display:inline-block;
  }
}

.spread_notice{
  background-color: #98b85f;
  color: #fd6fa9;
  border-radius: 0.35em;
  color: #fff;
  font-size: 0.8em;
  display:inline-block;
  font-weight: bold;
  line-height: 1;
  padding: 0.3em 0.7em 0.4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  margin: 1.2em 0;
}


#flea-info{
  text-align: center;
  .flea_market_tag{
    text-align:left;
  }
  .flea-info-detail{

    text-align: left;
    border: 1px #cccccc solid;
    padding: 10px;
    width: 100%;

    margin: 8px auto;
    color: #ffffff;
    background: #333333;

    .market_name{
      color: #ffffff;
      font-size: 1.6em;
      margin: 0;
    }


  }
  .flea-info-img{
    .top-text{
      text-align: left;
      font-size: 1.1em;
    }
    .bottom-text{
      text-align: left;
      font-size: 1.1em;
    }

  }
}


#location{

  .market_location{
    color: #000000;
    font-size: 1.4em;
    background: #333333;
    margin-bottom: 10px;
    padding: 8px 0 8px 15px;
  }
}


.flea_market{


	background-color: #fff;
	margin-bottom: 1.2rem;
 /* width:40%; */
  padding: 20px 10px;
  display:inline-block;

  .img{
    text-align:center;
    img{
      display:inline-block;
      width:100%;
    }
  }

}

.main-img{


  height: 300px;
  overflow: hidden;
  position:relative;
  .fleamarket-top-img{
    width:100%;
  }

}

.tab-content{
  padding-bottom: 30px;
}

.tab-pane{
  min-height: 500px;
  padding: 15px 10px;
}
.make-flea-market{
  padding: 20px  10px;

  .inlines{
    width: 35%;
    display:inline-block;
    margin-right: 5%;
  }


}



/**
 * Helpers
 * codepen.io/mithicher/pen/azQKNN/
 */

.border-tlr-radius { 
	border-top-left-radius: 2px;
	border-top-right-radius: 2px; 
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow: 
  		0 1px 3px rgba(0,0,0, 0.12),
    	0 1px 2px rgba(0,0,0, 0.24);      
}


/**
 * flea_market Styles
 */

.flea_market__padding {
	padding: 1.6rem;
}

.flea_market__image {
	min-height: 100px;
	background-color: #eee;
	img {
		width: 100%;
		max-width: 100%;
		display: block;
  }
}

.flea_market__content {
	position: relative;
}

/* flea_market meta */
.flea_market__meta time {
	font-size: 1.5rem;
	color: #bbb;
	margin-left: 0.8rem;
}

/* flea_market article */
.flea_market__article a {
	text-decoration: none;
	color: #444;
	transition: all 0.5s ease;
}
	.flea_market__article a:hover {
		color: #2980b9;
	}

/* flea_market action */
.flea_market__action {
	overflow: hidden;
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	padding-bottom: 1.6rem;
}

.flea_market__author {}

	.flea_market__author img,
	.flea_market__author-content {
		display: inline-block;
		vertical-align: middle;
	}

	.flea_market__author img{
		border-radius: 50%;
		margin-right: 0.6em;
    width: 40px;
    height: 40px;;
	}


.flea_market__tag{

  margin-top: 20px;
   div.label{
     display:inline-block;
     margin: 0 5px 3px 0;
   }

}
.flea_market__share {
	float: right;
	position: relative;
	margin-top: -42px;
}

.flea_market__social {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
	width: 160px;
	transform: translateZ(0);
  	transform: translateX(0px);
  	transition: transform 0.35s ease;
}
	.flea_market__social--active {
		visibility: visible;
		/*z-index: 3;*/
		transform: translateZ(0);
 		transform: translateX(-48px);
  		transition: transform 0.35s ease;
	}

.share-toggle {
	z-index: 2;
}
.share-toggle:before {
	content: "\f1e0";
	font-family: 'FontAwesome';
	color: #3498db;
}
	.share-toggle.share-expanded:before {
		content: "\f00d";
	}

.share-icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	background-color: #fff;
	transition: all 0.3s ease;
	outline: 0;

	box-shadow: 
	  		0 2px 4px rgba(0,0,0, 0.12),
	    	0 2px 4px rgba(0,0,0, 0.24);
}
	.share-icon:hover,
	.share-icon:focus {
		box-shadow: 
	  		0 3px 6px rgba(0,0,0, 0.12),
	    	0 3px 6px rgba(0,0,0, 0.24);

	    -webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	}

.facebook {
	background-color: #3b5998; 
}
.twitter {
	background-color: #00abe3; 
}
.googleplus {
	background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
	color: #fff;
}

.facebook:hover,
.twitter:hover,
.googleplus:hover {
  color: #eee;
}

.market_sharing{
  margin: 5px 0;
}


.flea_market_tag{

  margin-top: 10px;
   div.label{
     display:inline-block;
     margin: 0 5px 3px 0;
   }

}

.end-overlay{
  background:rgba(0,0,0,.75);
  text-align:center;
  padding:45px 0 66px 0;
  position:absolute;
  top: 0;
  width:100%;
  height: 100%;
  .end-img{
    position:absolute; 
    top:0;
    left:0;
  }
}

