<% title "Api/Flea Market" %>

<p>
  <strong>Name:</strong>
  <%= @flea_market.name %>
</p>

<p>
  <%= link_to "Edit", edit_api_flea_market_path(@flea_market) %> |
  <%= link_to "Destroy", [:api, @flea_market], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", api_flea_markets_path %>
</p>
