<footer class="footer-distributed">

  <div class="footer-right none">

    <a href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a>
    <a href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a>
    <a href="http://www.github.com/ggomagundan" target= "_blank"><i class="fa fa-github"></i></a>

  </div>

  <div class="footer-left">

    <p class="footer-desc">
      SpreadHere Wanna Your Shared
    </p>
    <p class="footer-links none">
      <a href="#">Contact</a>
    </p>

    <p>SpreadHere / Admin &copy; 2015</p>
  </div>

</footer>
