<div id="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-innner">
    <div class="container">
      <%= link_to "SPREAD HERE ADMIN", admin_root_path, class: "navbar-brand" %>

      <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
          <%= link_to "About", "#", class: "nav-link", data: {toggle: "modal", target: "#about-modal"} %>
        </li>
        <li class="nav-item">
          <%= link_to "BackToService", root_path, class: "nav-link" %>
        </li>
      </ul>
    </div>

  </div>

</div>

